$dark_blue: #2c3e72;
$blue: #175ec1;
$light_blue: #4aadeb;

$purple: #663399;
$pink: #eb278e;
$light_pink: #ef95ac;

$red: #eb3c3c;
$orange: #f3671b;
$yellow: #f3b240;

$pickled_bluewood: #34495e;
$gossamer: #169f84;
$light_green: #30af41;

$white: white;
$black: #424247;
$green: #30af3f;
$red: #ef3a35;
$light_grey: #f7f7f9;
$dark_grey: #e6e8ed;
$grey: #e5e8ed;
$text_grey: #ccced3;

$button_grey: #cbced3;
$inverted_background: #2b3f71;
