@font-face {
  font-family: nowtv-light;
  src: url('../fonts/NOWTVText_W_Light.woff') format('woff'), url('../fonts/NOWTVText_Light.ttf') format('truetype');
}


@font-face {
  font-family: nowtv-regular;
  src: url('../fonts/NOWTVText_W_Regular.woff2') format('woff2'), url('../fonts/NOWTVText_Regular.ttf') format('truetype');
}


@font-face {
  font-family: nowtv-bold;
  src: url('../fonts/NOWTVText_W_Bold.woff2') format('woff2'), url('../fonts/NOWTVText_Bold.ttf') format('truetype');
}

body {
  font-family: nowtv-regular, Helvetica, Arial, sans-serif;
}