.now-input {
  border: 1px solid $mischka;
  color: $black;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  height: 44px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;

  &:focus {
    border-color: $apple;
    color: $black;
  }

  &.valid {
    background: url(../icons/green-input-tick-no-bg.svg) no-repeat right 10px center;
  }

  &.error {
    background: url(../icons/red-input-exclamation-no-bg.svg) no-repeat right 10px center;
    color: $monza;
    border-color: $monza;

    &::-webkit-input-placeholder {      /* WebKit, Blink, Edge */
      color:    $monza;
    }
    &:-moz-placeholder {                /* Mozilla Firefox 4 to 18 */
       color:    $monza;
       opacity:  1;
    }
    &::-moz-placeholder {               /* Mozilla Firefox 19+ */
       color:    $monza;
       opacity:  1;
    }
    &:-ms-input-placeholder {           /* Internet Explorer 10-11 */
       color:    $monza;
    }
  }

  &:disabled {
    color: $bombay;
  }

  + .error {
    color: $monza;
    font-size: 16px;
  }
}
