.now-radio {
  position: absolute;
  left: -9999px;
}

.now-radio + label {
  display: block;
  position: relative;
  padding-left: 32px;
  box-sizing: border-box;
  margin: 10px 0;
  cursor: pointer;
  text-align: left;
  font-size: 16px;

  &:hover:after {
    background-image: url(../icons/hover-radio-no-bg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
  }
  &:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    content: " ";
    background-color: $white;
    border: 1px solid $mischka;
    border-radius: 100%;
    width: 24px;
    height: 24px;
  }
}

.now-radio:checked + label:after {
  background-image: url(../icons/green-radio-no-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
}

.now-radio:disabled + label {
  color: $bombay;
  cursor: default;

  &:after {
    background-image: none;
  }
}
