.now-select {
  background-color: white;
  background-repeat: no-repeat;
  background-size: 18px 100%;
  background-position: right 10px center;
  border: 1px solid $bombay;
  border-radius: 4px;
  width: 100%;
  padding: 10px 40px 10px 10px;
  height: 38px;
  line-height: 16px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  background-image: url(../icons/green-chevron-down.svg);

  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  appearance: none !important;

  &:disabled {
    background-image: url(../icons/grey-chevron-down.svg);
    color: $bombay;
  }

  &.error {
    background-image: url(../icons/grey-chevron-down.svg);
    color: $monza;
    border-color: $monza;
  }

  + .error {
    color: $monza;
    font-size: 16px;
  }
}

.now-multiline-select {
  border: 1px solid $bombay;
  border-radius: 4px;
  width: 100%;
  padding: 5px 0;
  line-height: 16px;
  font-size: 14px;
  overflow: auto;

  -moz-appearance: none !important;
  -webkit-appearance: none !important;

  &.error {
    border-color: $pomegranate;
  }

  option {
    padding: 5px 10px;
  }
}