@import "../../variables/colours";

%button {
  font: 16px nowtv-regular, sans-serif;
  background-color: transparent;
  width: 100%;
  max-width: 345px;
  margin: 0 auto;
  padding: 10px 32px;
  box-sizing: border-box;
  border-radius: 100px;
  cursor: pointer;
  color: $white;
  height: 50px;
  line-height: 28px;
  border: 0;

  &:hover, &.is-hovered {
    opacity: 0.9;
  }
  &:active, &.is-active {
    opacity: 0.7;
  }
  &:focus {
    outline: 0;
  }
  [disabled=disabled],
  &:disabled {
    cursor: default;
    opacity: 0.3 !important;
  }
}

%button_primary {
  @extend %button;
  background-color: $apple;
}

%button_primary_red {
  @extend %button;
  background-color: $pomegranate;
}

%button_primary_blue {
  @extend %button;
  background-color: $astronaut;
}

%button_primary_yellow {
  @extend %button;
  background-color: $saffron;
}

%button_primary_green {
  @extend %button;
  background-color: $apple;
}

%button_primary_grey {
  @extend %button;
  background-color: $iron;
}

%button_secondary {
  @extend %button;
  color: $ship-grey;
  background-color: $mischka;
}

%button_secondary_red {
  @extend %button;
  color: $pomegranate;
  border:2px solid currentColor;
  background-color: transparent;
}

%button_secondary_green {
  @extend %button;
  color: $apple;
  border:2px solid currentColor;
  background-color: transparent;
}
%button_secondary_yellow {
  @extend %button;
  color: $saffron;
  border:2px solid currentColor;
  background-color: transparent;
}

%button_secondary_blue {
  @extend %button;
  color: $astronaut;
  border:2px solid currentColor;
  background-color: transparent;
}

%button_secondary_grey {
  @extend %button;
  color: $iron;
  border:2px solid currentColor;
  background-color: transparent;
}

//todo: deprecated.
%button_negative {
  @extend %button;
  background-color: $monza;
}
