@import "../../variables/colours";

%button {
  font: 16px nowtv-regular, sans-serif;
  background-color: transparent;
  width: 100%;
  max-width: 345px;
  margin: 0 auto;
  padding: 10px 32px;
  box-sizing: border-box;
  border-radius: 100px;
  cursor: pointer;
  color: $white;
  height: 50px;
  line-height: 28px;
  border: 0;

  &:hover, &.is-hovered {
    opacity: 0.9;
  }
  &:active, &.is-active {
    opacity: 0.7;
  }
  &:focus {
    outline: 0;
  }
}

%button_primary {
  @extend %button;
  background-color: $apple;
}

%button_secondary {
  @extend %button;
  color: $ship-grey;
  background-color: $mischka;
}

%button_negative {
  @extend %button;
  background-color: $monza;
}
