<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NowTV Style Guide</title>
  <link rel="stylesheet" href="/fonts.css"/>
  <link rel="stylesheet" href="/styleguide.css"/>
  <link rel="stylesheet" href="/docs.css"/>
</head>
<body>

<section class="container">

  <h1>NowTV StyleGuide</h1>

  <ul>
    <li><a href="#colours">Colours</a></li>
    <li><a href="#buttons">Buttons</a></li>
    <li><a href="#text-links">Links</a></li>
    <li><a href="#inputs">Inputs</a></li>
    <li><a href="#selects">Selects</a></li>
    <li><a href="#checkboxes">Checkboxes</a></li>
    <li><a href="#radio">Radio Buttons</a></li>
  </ul>

  <hr/>

  <h1 id="colours">Colour Palette</h1>

  <h3>Primary Palette</h3>
  <section class="row">
    <div class="colour colour-apple col-lg-3"></div>
    <div class="colour colour-forest-green col-lg-3"></div>

    <div class="colour colour-pomegranate col-lg-3"></div>
    <div class="colour colour-monza col-lg-3"></div>

    <div class="colour colour-saffron col-lg-3"></div>
    <div class="colour colour-carrot-orange col-lg-3"></div>

    <div class="colour colour-pickled-bluewood col-lg-3"></div>
    <div class="colour colour-pickled-bluewood-darker col-lg-3"></div>

    <div class="colour colour-astronaut col-lg-3"></div>
    <div class="colour colour-cloud-burst col-lg-3"></div>

    <div class="colour colour-picton-blue col-lg-3"></div>
    <div class="colour colour-picton-blue-darker col-lg-3"></div>

    <div class="colour colour-cerise col-lg-3"></div>
    <div class="colour colour-lipstick col-lg-3"></div>

    <div class="colour colour-mauvelous col-lg-3"></div>
    <div class="colour colour-deep-blush col-lg-3"></div>

    <div class="colour colour-ocean-green col-lg-3"></div>
    <div class="colour colour-teal col-lg-3"></div>
  </section>

  <h3>Interface Palette</h3>
  <section class="row">
    <div class="colour colour-shark col-lg-3"></div>

    <div class="colour colour-shark-jaws col-lg-3"></div>

    <div class="colour colour-ship-grey col-lg-3"></div>

    <div class="colour colour-rolling-stone col-lg-3"></div>

    <div class="colour colour-bombay col-lg-3"></div>

    <div class="colour colour-iron col-lg-3"></div>

    <div class="colour colour-mischka col-lg-3"></div>

    <div class="colour colour-athens-gray col-lg-3"></div>

    <div class="colour colour-athens-gray-zeus col-lg-3"></div>
  </section>

  <h2>Content Palette</h2>

  <h3>Movies Palette</h3>
  <section class="row">
    <div class="colour colour-royal-purple col-lg-3"></div>
    <div class="colour colour-minsk col-lg-3"></div>
  </section>

  <h3>Entertainment Palette</h3>
  <section class="row">
    <div class="colour colour-flamingo col-lg-3"></div>
    <div class="colour colour-trinidad col-lg-3"></div>
  </section>

  <h3>Sports Palette</h3>
  <section class="row">
    <div class="colour colour-denim col-lg-3"></div>
    <div class="colour colour-fun-blue col-lg-3"></div>
  </section>

  <hr/>

  <h2 id="buttons">Buttons / Links</h2>

  <p>The following can be used with &lt;button> or &lt;a></p>
  <h3>Links</h3>

  <section class="row">
    <div class="col-lg-3">
      <a class="button now-button_primary_green">Inactive</a>
    </div>
    <div class="col-lg-3">
      <a class="button now-button_primary_green is-hovered">Hover</a>
    </div>
    <div class="col-lg-3">
      <a class="button now-button_primary_green is-active">Active (Clicked)</a>
    </div>
    <div class="col-lg-3">
      <a class="button now-button_primary_green" disabled>Disabled</a>
    </div>
  </section>

  <h3>Primary</h3>

  <p>.now-button_primary_green</p>
  <section class="row">
    <div class="col-lg-3">
      <button class="button now-button_primary_green">Inactive</button>
    </div>
    <div class="col-lg-3">
      <button class="button now-button_primary_green is-hovered">Hover</button>
    </div>
    <div class="col-lg-3">
      <button class="button now-button_primary_green is-active">Active (Clicked)</button>
    </div>
    <div class="col-lg-3">
      <button class="button now-button_primary_green" disabled>Disabled</button>
    </div>
  </section>

  <p>.now-button_primary_red</p>
  <section class="row">
    <div class="col-lg-3">
      <button class="button now-button_primary_red">Red</button>
    </div>
    <div class="col-lg-3">
      <button class="button now-button_primary_red is-hovered">Hover</button>
    </div>
    <div class="col-lg-3">
      <button class="button now-button_primary_red is-active">Active (Clicked)</button>
    </div>
    <div class="col-lg-3">
      <button class="button now-button_primary_red" disabled>Disabled</button>
    </div>
  </section>

  <p>.now-button_primary_yellow</p>
  <section class="row">
    <div class="col-lg-3">
      <button class="button now-button_primary_yellow">Inactive</button>
    </div>
    <div class="col-lg-3">
      <button class="button now-button_primary_yellow is-hovered">Hover</button>
    </div>
    <div class="col-lg-3">
      <button class="button now-button_primary_yellow is-active">Active (Clicked)</button>
    </div>
    <div class="col-lg-3">
      <button class="button now-button_primary_yellow" disabled>Disabled</button>
    </div>
  </section>

  <p>.now-button_primary_blue</p>
  <section class="row">
    <div class="col-lg-3">
      <button class="button now-button_primary_blue">Inactive</button>
    </div>
    <div class="col-lg-3">
      <button class="button now-button_primary_blue is-hovered">Hover</button>
    </div>
    <div class="col-lg-3">
      <button class="button now-button_primary_blue is-active">Active (Clicked)</button>
    </div>
    <div class="col-lg-3">
      <button class="button now-button_primary_blue" disabled>Disabled</button>
    </div>
  </section>

  <h3>Secondary</h3>

  <p>.now-button_secondary_green</p>
  <section class="row">
    <div class="col-lg-3">
      <button class="now-button_secondary_green">Button</button>
    </div>
    <div class="col-lg-3">
      <button class="now-button_secondary_green is-hovered">Hover</button>
    </div>
    <div class="col-lg-3">
      <button class="now-button_secondary_green is-active">Active (Clicked)</button>
    </div>
    <div class="col-lg-3">
      <button class="now-button_secondary_green" disabled>Disabled</button>
    </div>

  </section>
  <p>.now-button_secondary_red</p>
  <section class="row">
    <div class="col-lg-3">
      <button class="now-button_secondary_red">Button</button>
    </div>
    <div class="col-lg-3">
      <button class="now-button_secondary_red is-hovered">Hover</button>
    </div>
    <div class="col-lg-3">
      <button class="now-button_secondary_red is-active">Active (Clicked)</button>
    </div>
    <div class="col-lg-3">
      <button class="now-button_secondary_red" disabled>Disabled</button>
    </div>
  </section>
  <p>.now-button_secondary_yellow</p>
  <section class="row">
    <div class="col-lg-3">
      <button class="now-button_secondary_yellow">Button</button>
    </div>
    <div class="col-lg-3">
      <button class="now-button_secondary_yellow is-hovered">Hover</button>
    </div>
    <div class="col-lg-3">
      <button class="now-button_secondary_yellow is-active">Active (Clicked)</button>
    </div>
    <div class="col-lg-3">
      <button class="now-button_secondary_yellow" disabled>Disabled</button>
    </div>
  </section>
  <p>.now-button_secondary_blue</p>
  <section class="row">
    <div class="col-lg-3">
      <button class="now-button_secondary_blue">Button</button>
    </div>
    <div class="col-lg-3">
      <button class="now-button_secondary_blue is-hovered">Hover</button>
    </div>
    <div class="col-lg-3">
      <button class="now-button_secondary_blue is-active">Active (Clicked)</button>
    </div>
    <div class="col-lg-3">
      <button class="now-button_secondary_blue" disabled>Disabled</button>
    </div>
  </section>

  <hr/>

  <h2 id="text-links">Text Links</h2>

  <a href="#" class="now-link">Standard Link</a>
  <span class="now-link disabled">Disabled Link</span>

  <hr/>

  <h2 id="inputs">Inputs</h2>

  <h3>Active / Inactive</h3>
  <input type="text" class="now-input" placeholder="A text input"/>

  <h3>Valid</h3>
  <input type="text" class="now-input valid" placeholder="Confirmed is valid"/>

  <h3>Error</h3>
  <input type="text" class="now-input error" placeholder="An error"/>
  <span class="error">*Detailed error text</span>

  <h2>Disabled</h2>
  <input type="text" class="now-input" value="Some uneditable text" disabled/>

  <hr/>

  <h2 id="selects">Select</h2>

  <h3>Active</h3>
  <select class="now-select">
    <option value="movies">Movies</option>
    <option value="sports">Sports</option>
    <option value="entertainment">Entertainment</option>
    <option value="kids">Kids</option>
  </select>

  <h3>Error</h3>
    <select class="now-select error">
      <option value="movies">Movies</option>
      <option value="sports">Sports</option>
      <option value="entertainment">Entertainment</option>
      <option value="kids">Kids</option>
    </select>
    <span class="error">*Detailed error text</span>

  <h3>Disabled</h3>
  <select class="now-select" disabled>
    <option value="movies">Movies</option>
    <option value="sports">Sports</option>
    <option value="entertainment">Entertainment</option>
    <option value="kids">Kids</option>
  </select>

  <h3>Multiline Single Select</h3>
  <select class="now-multiline-select" size="3">
    <option value="movies">Movies</option>
    <option value="sports">Sports</option>
    <option value="entertainment">Entertainment</option>
    <option value="kids">Kids</option>
  </select>

  <h2 id="checkboxes">Checkboxes</h2>

  <input type="checkbox" name="checkbox-available" id="checkbox-available" class="now-checkbox"/>
  <label for="checkbox-available">Available</label>

  <input type="checkbox" name="checkbox-hover" id="checkbox-hover" class="now-checkbox"/>
  <label for="checkbox-hover">Hover</label>

  <input type="checkbox" name="checkbox-pre-selected" id="checkbox-pre-selected" class="now-checkbox" checked/>
  <label for="checkbox-pre-selected">Selected - Pre checked</label>

  <input type="checkbox" name="checkbox-disabled" id="checkbox-disabled" class="now-checkbox" disabled/>
  <label for="checkbox-disabled">Disabled</label>

  <h2 id="radio">Radio Buttons</h2>

  <input type="radio" name="radio-available" id="radio-available" class="now-radio"/>
  <label for="radio-available">Available</label>

  <input type="radio" name="radio-hover" id="radio-hover" class="now-radio"/>
  <label for="radio-hover">Hover</label>

  <input type="radio" name="radio-pre-selected" id="radio-pre-selected" class="now-radio" checked/>
  <label for="radio-pre-selected">Selected - Pre selected</label>

  <input type="radio" name="radio-disabled" id="radio-disabled" class="now-radio" disabled/>
  <label for="radio-disabled">Disabled</label>
    
  <hr/>
    
  <h2 id="headers">Headers</h2>

  <div class="header_green">
    <header>
      <div class="header-icon">
        <i class="icon-beer"></i>
      </div>
      <h1 class="header-heading">Lorem Ipsum</h1>
      <p class="header-subheading">Lorem ipsum dolor sit amet.</p>
    </header>
  </div>

  <div class="header_blue">
    <header>
      <div class="header-icon">
        <i class="icon-beer"></i>
      </div>
      <h1 class="header-heading">Lorem Ipsum</h1>
      <p class="header-subheading">Lorem ipsum dolor sit amet.</p>
    </header>
  </div>
