.now-input {
  border: 1px solid $bombay;
  color: $black;
  border-radius: 4px;
  width: 100%;
  padding: 10px;
  height: 36px;
  font-size: 14px;
  box-sizing: border-box;
  outline: none;

  &:focus {
    background-color: $white;
    border-color: $apple;
    color: $black;
  }

  &.error {
    background-color: $white;
    color: $pomegranate;
    border-color: $pomegranate;
  }

  &:disabled {
    background-color: $bombay;
  }
}
