@import "../../variables/colours";

%button {
  font: 16px nowtv-regular, sans-serif;
  background-color: transparent;
  width: 100%;
  max-width: 345px;
  margin: 0 auto;
  padding: 10px 32px;
  box-sizing: border-box;
  border-radius: 100px;
  cursor: pointer;
  color: $white;
  height: 50px;
  line-height: 28px;
  border: 0;
  display: inline-block;
  text-align: center;

  &:hover, &.is-hovered {
    text-decoration: none;
    opacity: 0.9;
    color: $white;
  }
  &:active, &.is-active {
    opacity: 0.7;
  }
  &:focus {
    outline: 0;
  }
  &[disabled],
  &:disabled {
    cursor: default;
    opacity: 0.3 !important;
  }
}

%button_primary {
  @extend %button;
  background-color: $green;
}

%button_primary_red {
  @extend %button;
  background-color: $red;
}

%button_primary_blue {
  @extend %button;
  background-color: $dark-blue;
}

%button_primary_yellow {
  @extend %button;
  background-color: $yellow;
}

%button_primary_green {
  @extend %button;
  background-color: $green;
}

%button_primary_grey {
  @extend %button;
  color: $ship-grey;
  background-color: $iron;
}

%button_secondary {
  @extend %button;
  color: $ship-grey;
  background-color: $mischka;
  &:hover, &.is-hovered{
    color: $ship-grey;
  }
}

%button_secondary_red {
  @extend %button;
  color: $red;
  border:2px solid currentColor;
  background-color: transparent;
  &:hover, &.is-hovered{
    color: $red-tint;
  }
}

%button_secondary_green {
  @extend %button;
  color: $green;
  border:2px solid currentColor;
  background-color: transparent;
  &:hover, &.is-hovered{
    color: $green;
  }
}
%button_secondary_yellow {
  @extend %button;
  color: $yellow;
  border:2px solid currentColor;
  background-color: transparent;
  &:hover, &.is-hovered{
    color: $yellow;
  }
}

%button_secondary_blue {
  @extend %button;
  color: $dark-blue;
  border:2px solid currentColor;
  background-color: transparent;
  &:hover, &.is-hovered{
    color: $dark-blue;
  }
}

%button_secondary_grey {
  @extend %button;
  color: $iron;
  border:2px solid currentColor;
  background-color: transparent;
}

//todo: deprecated.
%button_negative {
  @extend %button;
  background-color: $red-tint;
}
