$apple: #40AD46;
$forest-green: #279038;

$pomegranate: #EF3A35;
$monza: #CF000F;

$saffron: #F6B432;
$carrot-orange: #EE9F1E;

$pickled-bluewood: #34495E;
$pickled-bluewood-darker: #2C3E50;

$astronaut: #2C3E72;
$cloud-burst: #223153;

$picton-blue: #4AADEB;
$picton-blue-darker: #1DA0EC;

$cerise: #EB278E;
$lipstick: #CF0074;

$mauvelous: #EF95AC;
$deep-blush: #E3758C;

$ocean-green: #449E91;
$teal: #008C82;

// -----------------------------------------------------------------------------
// Movies Palette
// First is primary, second is the tint
// -----------------------------------------------------------------------------
$royal-purple: #663399;
$minsk: #4A2C75;

// -----------------------------------------------------------------------------
// Entertainment Palette
// First is primary, second is the tint
// -----------------------------------------------------------------------------
$flamingo: #F3671B;
$trinidad: #DD5400;

// -----------------------------------------------------------------------------
// Sports Palette
// First is primary, second is the tint
// -----------------------------------------------------------------------------
$denim: #175EC1;
$fun-blue: #1F47AB;

// -----------------------------------------------------------------------------
// Interface Palette
// -----------------------------------------------------------------------------
$shark: #1C1C21;
$shark-jaws: #2B2B2F;
$ship-grey: #424247;
$rolling-stone: #777A7F;
$bombay: #AAADB2;
$iron: #CCCED3;
$mischka: #D9D9DE;
$athens-gray: #F7F7F9;
$athens-gray-zeus: #F7F7F9;
$white: #FFFFFF;
$black: #000000;

// -----------------------------------------------------------------------------
// Colour List
// -----------------------------------------------------------------------------
$colour-names: astronaut denim picton-blue royal-purple cerise mauvelous flamingo saffron pickled-bluewood apple white ship-grey pomegranate athens-gray iron minsk fun-blue trinidad shark shark-jaws rolling-stone bombay mischka athens-gray-zeus forest-green monza carrot-orange pickled-bluewood-darker cloud-burst picton-blue-darker lipstick deep-blush ocean-green teal black;

$colour-vars: $astronaut $denim $picton-blue $royal-purple $cerise $mauvelous $flamingo $saffron $pickled-bluewood $apple $white $ship-grey $pomegranate $athens-gray $iron $minsk $fun-blue $trinidad $shark $shark-jaws $rolling-stone $bombay $mischka $athens-gray-zeus $forest-green $monza $carrot-orange $pickled-bluewood-darker $cloud-burst $picton-blue-darker $lipstick $deep-blush $ocean-green $teal $black; 
