$apple: #40AD46;
$forest-green: #279038;

$pomegranate: #EF3A35;
$monza: #CF000F;

$saffron: #F6B432;
$carrot-orange: #EE9F1E;

$pickled-bluewood: #34495E;
$pickled-bluewood-darker: #2C3E50;

$astronaut: #2C3E72;
$cloud-burst: #223153;

$picton-blue: #4AADEB;
$picton-blue-darker: #1DA0EC;

$cerise: #EB278E;
$lipstick: #CF0074;

$mauvelous: #EF95AC;
$deep-blush: #E3758C;

$ocean-green: #449E91;
$teal: #008C82;

// -----------------------------------------------------------------------------
// Movies Palette
// First is primary, second is the tint
// -----------------------------------------------------------------------------
$royal-purple: #663399;
$minsk: #4A2C75;

// -----------------------------------------------------------------------------
// Entertainment Palette
// First is primary, second is the tint
// -----------------------------------------------------------------------------
$flamingo: #F3671B;
$trinidad: #DD5400;

// -----------------------------------------------------------------------------
// Sports Palette
// First is primary, second is the tint
// -----------------------------------------------------------------------------
$denim: #175EC1;
$fun-blue: #1F47AB;

// -----------------------------------------------------------------------------
// Interface Palette
// -----------------------------------------------------------------------------
$shark: #1C1C21;
$shark-jaws: #2B2B2F;
$ship-grey: #424247;
$rolling-stone: #777A7F;
$bombay: #AAADB2;
$iron: #CCCED3;
$mischka: #D9D9DE;
$athens-gray: #F7F7F9;
$athens-gray-zeus: #F7F7F9;
$white: #FFFFFF;
$black: #000000;

// -----------------------------------------------------------------------------
// 2.0 Colour Palette
// -----------------------------------------------------------------------------
$sales-apple: #37AC47;
$sales-sea-green: #2D8E3D;
$sales-pickled-bluewood: #35495D;
$sales-pickled-bluewood-darker: #2D3E4F;
$sales-royal-purple: #653796;
$sales-jacarta: #4A2F73;
$sales-cinnabar: #EB3C3C;
$sales-monza: #CC091C;
$sales-cloud-burst: #233252;
$sales-san-huan: #2D3F70;
$sales-cerise: #E72F8D;
$sales-red-violet: #CC1174;
$sales-flamingo: #F0672B;
$sales-hot-cinnamon: #DA541A;
$sales-denim: #1D61BD;
$sales-fun-blue: #224AA7;
$sales-sea-pink: #EC95AB;
$sales-deep-blush: #E0768C;
$sales-saffron: #F3B241;
$sales-fire-bush: #EB9D32;
$sales-picton-blue: #4FADE7;
$sales-picton-blue-darker: #29A0E8;
$sales-ocean-green: #489D90;
$sales-shark: #1C1C21;
$sales-shark: #2B2B2F;
$sales-ship-grey: #424247;
$sales-storm-grey: #787A80;
$sales-bombay: #AAACB1;
$sales-iron: #CBCED3;
$sales-mischka: #D8D8DD;
$sales-athens-gray: #E4E7EC;
$sales-white-lilac: #F9F9FD;
$sales-white: #FFFFFF;

  // -----------------------------------------------------------------------------
// Colour List
// -----------------------------------------------------------------------------
$colour-names: astronaut denim picton-blue royal-purple cerise mauvelous flamingo saffron pickled-bluewood apple white ship-grey pomegranate athens-gray iron minsk fun-blue trinidad shark shark-jaws rolling-stone bombay mischka athens-gray-zeus forest-green monza carrot-orange pickled-bluewood-darker cloud-burst picton-blue-darker lipstick deep-blush ocean-green teal black sales-apple sales-sea-green sales-pickled-bluewood sales-pickled-bluewood-darker sales-royal-purple sales-jacarta sales-cinnabar sales-monza sales-cloud-burst sales-san-huan sales-cerise sales-red-violet sales-flamingo sales-hot-cinnamon sales-denim sales-fun-blue sales-sea-pink sales-deep-blush sales-saffron sales-fire-bush sales-picton-blue sales-picton-blue-darker sales-ocean-green sales-shark sales-shark sales-ship-grey sales-storm-grey sales-bombay sales-iron sales-mischka sales-athens-gray sales-white-lilac sales-white;
$colour-vars: $astronaut $denim $picton-blue $royal-purple $cerise $mauvelous $flamingo $saffron $pickled-bluewood $apple $white $ship-grey $pomegranate $athens-gray $iron $minsk $fun-blue $trinidad $shark $shark-jaws $rolling-stone $bombay $mischka $athens-gray-zeus $forest-green $monza $carrot-orange $pickled-bluewood-darker $cloud-burst $picton-blue-darker $lipstick $deep-blush $ocean-green $teal $black $sales-apple $sales-sea-green $sales-pickled-bluewood $sales-pickled-bluewood-darker $sales-royal-purple $sales-jacarta $sales-cinnabar $sales-monza $sales-cloud-burst $sales-san-huan $sales-cerise $sales-red-violet $sales-flamingo $sales-hot-cinnamon $sales-denim $sales-fun-blue $sales-sea-pink $sales-deep-blush $sales-saffron $sales-fire-bush $sales-picton-blue $sales-picton-blue-darker $sales-ocean-green $sales-shark $sales-shark $sales-ship-grey $sales-storm-grey $sales-bombay $sales-iron $sales-mischka $sales-athens-gray $sales-white-lilac $sales-white;
