$green: #37AC47;
$green-tint: #2D8E3D;

$red: #EB3C3C;
$red-tint: #CC091C;

$yellow: #F3B241;
$yellow-tint: #EB9D32;

$blue-grey: #35495D;
$blue-grey-tint: #2D3E4F;

$dark-blue: #2D3F70;
$dark-blue-tint: #233252;

$light-blue: #4FADE7;
$light-blue-tint: #29A0E8;

$pink: #E72F8D;
$pink-tint: #CC1174;

$light-pink: #EC95AB;
$light-pink-tint: #E0768C;

$teal: #489D90;
$teal-tint: #138B81;

// -----------------------------------------------------------------------------
// Movies Palette
// First is primary, second is the tint
// -----------------------------------------------------------------------------
$purple: #653796;
$purple-tint: #4A2F73;

// -----------------------------------------------------------------------------
// Entertainment Palette
// First is primary, second is the tint
// -----------------------------------------------------------------------------
$orange: #F0672B;
$orange-tint: #DA541A;

// -----------------------------------------------------------------------------
// Sports Palette
// First is primary, second is the tint
// -----------------------------------------------------------------------------
$blue: #1D61BD;
$blue-tint: #224AA7;

// -----------------------------------------------------------------------------
// Interface Palette
// -----------------------------------------------------------------------------
$shark: #1C1C21;
$shark-jaws: #2B2B2F;
$ship-grey: #424247;
$rolling-stone: #787A80;
$bombay: #AAACB1;
$iron: #CBCED3;
$mischka: #D8D8DD;
$athens-gray: #E4E7EC;
$athens-gray-zeus: #F9F9FD;
$white: #FFFFFF;
$black: #000000;

// -----------------------------------------------------------------------------
// Colour List
// -----------------------------------------------------------------------------
$colour-names: dark-blue blue light-blue purple pink light-pink orange yellow blue-grey green white ship-grey red athens-gray iron purple-tint blue-tint orange-tint shark shark-jaws rolling-stone bombay mischka athens-gray-zeus green-tint red-tint yellow-tint blue-grey-tint dark-blue-tint light-blue-tint pink-tint light-pink-tint teal teal-tint black;

$colour-vars: $dark-blue $blue $light-blue $purple $pink $light-pink $orange $yellow $blue-grey $green $white $ship-grey $red $athens-gray $iron $purple-tint $blue-tint $orange-tint $shark $shark-jaws $rolling-stone $bombay $mischka $athens-gray-zeus $green-tint $red-tint $yellow-tint $blue-grey-tint $dark-blue-tint $light-blue-tint $pink-tint $light-pink-tint $teal $teal-tint $black;
