@mixin states($color) {
  &.primary {
    background-color: $color;
  }
  &.inverted {
    color: $color;
    background-color: $white;
  }
  &.secondary {
    color: $color;
  }
}

.now-button {
  font: 16px nowtv-regular, sans-serif;
  background-color: transparent;
  width: 100%;
  margin: 0 auto;
  padding: 10px 32px;
  box-sizing: border-box;
  border-radius: 50000px;
  cursor: pointer;
  color: $white;
  height: 50px;
  line-height: 28px;
  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 0.7;
  }
  &:focus {
    outline: 0;
  }
  &.primary {
    &:disabled {
      background-color: $button_grey;
    }
  }
  &.secondary {
    &:disabled {
      color: $button_grey;
    }
  }
  &.red {
    @include states($red);
  }
  &.yellow {
    @include states($yellow);
  }
  &.green {
    @include states($green);
  }
  &.blue {
    @include states(#2b3f71);
  }
  border: 2px solid currentColor;
  &.default {
    background-color: $button_grey;
    color: $black;
    border: 2px solid $button_grey;
  }
}

[disabled=disabled], :disabled {
  cursor: default;
  opacity: 0.3 !important;
}