@import "../variables/colours";
@import "abstract/button";

.now-button {
  @extend %button;
}

.now-button_primary {
  @extend %button_primary;
}

.now-button_secondary {
  @extend %button_secondary;
}

.now-button_negative {
  @extend %button_negative;
}

[disabled=disabled], :disabled {
  background-color: $bombay;
  cursor: default;
  opacity: 0.3 !important;
}
